<div class="container" id="container">
    <div class="top-header">
        <div class="row-fluid">
            <div class="span12">
                <div class="back-btn pull-left" id="backToList">
                    <img src="images/back.png">
                </div>
                <div class="top-box lead pull-left">
                    About
                </div>
                <div class="logo pull-right">
                    <img src="images/logo.png" alt="FeedHenry Logo" />
                </div>
                
            </div>
            <div class="clearfix"></div>
        </div>
    </div>


    <div class="container-view">
        <div class="about-description">
            The FeedHenry Group To-Do App highlights best practice for building mobile applications with a Cloud back-end on our platform.
            Feel free to use it as a starting point for your own apps.
        </div>
    </div>
</div>