<div class="container" id="container">
    <div class="top-header" style="padding-bottom: 20px">
        <div class="row-fluid">
            <div class="span12">
                <div class="logo pull-left">
                    <img src="images/logo.png" alt="FeedHenry Logo" />
                    <!--<div class="logo-title">FeedHenry</div>-->
                </div>
                <div class="top-box lead pull-right">
                    Getting Started with FeedHenry's Team To-Do App
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="container-view">
        <div class="login-description">
            <p>Logins are Spengler, Venkman, Stantz, Zeddemore.
            Password is TheKeymaster.</p>
        </div>
        <div class="row-fluid clearfix">
            <form id="loginform" name="loginform" role="form" style="text-align:left; margin: 0 auto;">
                <div class="row-fluid">
                    <div class="form-group">
                      <!--   <label for="username" class="pull-left">Username</label> -->
                        <input type="text" name="username" id="username" class=" input-field-login form-control" required="required" value="Spengler">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="row-fluid">
                    <div class="form-group">
                        <!-- <label for="password" class="pull-left">Password</label> -->
                        <input type="password" name="password" id="password"  class="input-field-login form-control"required="required" value="TheKeymaster">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
        <div class="error-container" id="loginError"></div>
        <div class="button-container single-button clearfix">
            <div class="container">
                <div class="row-fluid">
                    <div class="button-center">
                        <button type="button" name="loginBtn"  id="loginBtn" class="btn btn-primary btn-lg">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
